<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View order</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1>Order Details</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td><b>Title</b></td>
              <td><b>Value</b></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td><a href="/customer/details/<%= order.customerId %>" class="btn btn-danger"><%= order.customerName %></a></td>           
            </tr>
            <tr>
              <td>IsDelivered</td>
              <td><%= order.isDelivered %></td>           
            </tr>
            <% for(var i=0; i < order.orderItems.length; i++) { %>
            <tr>
              <td>OrderItem <%= i+1 %>  </td>
              <td><%= order.orderItems[i].menuItem %>, <%= order.orderItems[i].quantity %></td>           
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
  </body>
</html>